.medium-card {
  max-width: 850px;
  max-height: 450px;
  .right-side2 {
    .title-font {
      font-size: 13px;
    }

    .highlight-font {
      color: rgb(226, 71, 61);
      font-weight: 500;
      font-size: 13px;
    }

    .smaller-font {
      font-size: 13px;
    }

    .lighter-font {
      color: rgb(121, 121, 121);
    }

    .text-Truncate {
      display: -webkit-box;
      text-overflow: ellipsis;
      line-clamp: 4; /* Số dòng hiển thị tối đa */
      -webkit-box-orient: vertical;
    }
  }
}
.small-card {
  max-width: 640px;
  max-height: 450px;

  .right-side2 {
    .title-font {
      font-size: 13px;
    }

    .highlight-font {
      color: rgb(226, 71, 61);
      font-weight: 500;
      font-size: 13px;
    }

    .smaller-font {
      font-size: 13px;
    }

    .lighter-font {
      color: rgb(121, 121, 121);
    }

    .text-Truncate {
      display: -webkit-box;
      text-overflow: ellipsis;
      line-clamp: 2; /* Số dòng hiển thị tối đa */
      -webkit-box-orient: vertical;
    }
  }
}

@media (max-width: 800px) {
  .medium-card,
  .small-card {
    .left-side2,
    .right-side2 {
      width: 100%;
    }
    .left-side2 img {
      height: auto;
    }
    .right-side2 {
      height: auto;
    }
  }
}
