.container {
  .search-input-container {
    .no-focus {
      background-color: white;
    }

    .no-focus {
      background-color: white;
    }

    .no-focus:hover {
      background-color: white;
    }

    .no-focus:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .search-input-container:hover {
    background-color: white;
  }

  .search-bar {
    white-space: nowarp;
    max-height: 50px;

    .search-btn {
      max-height: 30px;
      font-size: 15px;
    }
  }

  .filter-options {
    .dropdown-container {
      .dropdown-menu {
        z-index: 1050;
      }
    }
  }

  .filter-options::-webkit-scrollbar {
    height: 8px;
  }

  .filter-options::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  .filter-options::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
}
